<% if flash.any? %>
<% user_facing_flashes.each do |key, value| %>
<div class="alert alert-dmiisssable-<%= flash_class(key) %>">
   <button class="close" date-dismiss="alert">x</button>
   <%= value %>
   <% end %>
   <% end %>
   
